.form-card {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.success-highlight {
    background-color: rgba(99, 0, 60, 0.3);
}

.error-msg {
    color: red;
}

.ui-widget-overlay {
    background-color: rgba(0, 0, 0, 1); /* Couleur d'arrière-plan modal grisé personnalisée */
}
  

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}